<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="Testng2.BikeRoyalEnfield"/>
      <class name="Testng2.BikePulsar"/>
      <class name="TestNGbasic.Nike"/>
      <class name="TestNGbasic.Redtap"/>
      <class name="TestNGbasic.StartTestNG"/>
      <class name="Testng2.BikeAvenger"/>
      <class name="TestNGbasic.Puma"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test2">
    <classes>
      <class name="Testng2.BikeRoyalEnfield"/>
      <class name="Testng2.BikePulsar"/>
      <class name="TestNGbasic.Nike"/>
      <class name="TestNGbasic.Redtap"/>
      <class name="TestNGbasic.StartTestNG"/>
      <class name="Testng2.BikeAvenger"/>
      <class name="TestNGbasic.Puma"/>
    </classes>
  </test>
  
</suite> <!-- Suite -->
